.report-value-valid {
  border-bottom: solid 2px green;
}

.report-value-invalid {
  border-bottom: solid 2px red;
}

.floating-cube {
  position: absolute;
  top: 0px;
  width: 100%;
}

table.activity-report {
  table-layout: auto;
}

table.activity-report tr:first-child h4 {
  text-align: center;
}

table.activity-report tr:first-child > th {
  min-width: 20px;
  vertical-align: middle;
}

table.activity-report tr:first-child p {
  text-align: center;
}

table.activity-report tr:first-child th.month > p {
  width: 150px;
}

table.activity-report td input {
  padding: 3px;
  min-width: 20px;
  text-align: center;
}

table.activity-report tr {
  height: 10px;
}

table.activity-report tr.entry {
  height: 41px;
}

.row-sum {
  border-left: 1px solid #ddd;
  text-align: center;
}