<div class="row">
    <div class="col-md-8">
        <div class="box box-default">
            <div class="box-header with-border">
                <i class="fa fa-users"></i>
                <h3 class="box-title">Utilisateurs</h3>
            </div>
            <div class="box-body table-responsive no-padding" *ngIf="!usersProgress">
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 80px;">Avatar</th>
                            <th style="width: 50px;">Id</th>
                            <th>Nom d'utilisateur</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                        <tr *ngFor="let user of users" class="user-entry">
                            <td>
                                <a [routerLink]="['/portal', 'users', user.id]">
                                    <avatar [user]="user"></avatar>
                                </a>
                            </td>
                            <td>{{user.id}}</td>
                            <td><a [routerLink]="['/portal', 'users', user.id]">{{user.username}}</a></td>
                            <td>{{user.firstname}}</td>
                            <td>{{user.lastname}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-danger" type="button" (click)="removeUserModal.show(user)">Supprimer</button>
                                    <button *ngIf="!user.enabled && user.username" class="btn btn-sm btn-primary" type="button" (click)="activateUser(user)">Activer</button>
                                    <button *ngIf="user.enabled" class="btn btn-sm btn-warning" type="button" (click)="deactivateUserModal.show(user)">Désactiver</button>
                                    <a class="btn btn-sm btn-primary" type="button" [routerLink]="['/portal', 'users', user.id]">Modifier / Consulter le profil</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <loading-cube class="box-body" *ngIf="usersProgress"></loading-cube>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-default">
            <div class="box-header with-border">
                <i class="fa fa-user-plus"></i>
                <h3 class="box-title">Ajouter un utilisateur</h3>
            </div>
            <div class="box-body">
                <form #addUserForm="ngForm" (ngSubmit)="addUser()" [hidden]="userFormProgress">
                    <div class="row">
                        <div class="col-md-12 col-lg-3">
                            <div class="form-group">
                                <avatar [(user)]="newUser" allowUpload=1 class="identicons-big"></avatar>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-9">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" placeholder="Firstname" name="firstname"
                                    [(ngModel)]="newUser.firstname" (ngModelChange)="newUser.updateProEmail()" required>
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" placeholder="Lastname" name="lastname"
                                    [(ngModel)]="newUser.lastname" (ngModelChange)="newUser.updateProEmail()" required>
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" placeholder="Email perso" name="email" [(ngModel)]="newUser.email" email required>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <select class="form-control" placeholder="User role" name="role" [(ngModel)]="newUser.role" required>
                            <option value="ROLE_USER">Utilisateur</option>
                            <option value="ROLE_ADMIN">Administrateur</option>
                        </select>
                        <span class="fa fa-id-badge form-control-feedback"></span>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="proEmail" [(ngModel)]="newUser.generateProEmail">
                            Créer l'adresse {{ newUser.proEmail }}
                        </label>
                    </div>
                    <p *ngIf="newUser.email">
                        <br /><i>
                            Un mail va être envoyé à <b>{{ newUser.email }}</b> avec les instructions pour la création du nom d'utilisateur et du mot de passe.
                        </i>
                    </p>
                    <div class="row">
                        <div class="col-lg-6"></div>
                        <!-- /.col -->
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!addUserForm.form.valid"><i class="fa fa-plus fa-fw"></i> Ajouter</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <loading-cube [hidden]="!userFormProgress"></loading-cube>
            </div>
        </div>
    </div>
</div>

<modal-dialog #removeUserModal color="danger">
    <div class="modal-dialog-header">Suppression d'un utilisateur</div>
    <div class="modal-dialog-body" *ngIf="removeUserModal.entity">
        <i class="fa fa-exclamation-circle fa-fw"></i>
        Etes vous sûr de vouloir supprimer l'utilisateur <b>{{ removeUserModal.entity.firstname }} {{ removeUserModal.entity.lastname }}</b> ?.<br />
        Cette action est irreversible et aura pour effet de supprimer également
        toutes les données associées au compte <b>{{ removeUserModal.entity.username }}</b> (rapports d'activités, ...).
    </div>
    <div class="modal-dialog-footer" *ngIf="removeUserModal.entity">
        <button type="button" class="btn btn-default" (click)="removeUserModal.hide()">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser(removeUserModal.entity); removeUserModal.hide()"><i class="fa fa-upload fa-fw"></i> Confirmer la suppression</button>
    </div>
</modal-dialog>

<modal-dialog #deactivateUserModal color="warning">
    <div class="modal-dialog-header">Désactivation d'un utilisateur</div>
    <div class="modal-dialog-body" *ngIf="removeUserModal.entity">
        <i class="fa fa-exclamation-circle fa-fw"></i>
        Etes vous sûr de vouloir désactiver l'utilisateur <b>{{ deactivateUserModal.entity.firstname }} {{ deactivateUserModal.entity.lastname }}</b> ?.<br /><br />
        Cette action aura pour effet de désactiver la connexion au portail du compte <b>{{ deactivateUserModal.entity.username }}</b> et de réinitialiser le mot de passe
        des comptes associés (cloud et mail).<br /><br />
        Le mot de passe généré sera envoyé à l'adresse par défaut du serveur.
    </div>
    <div class="modal-dialog-footer" *ngIf="removeUserModal.entity">
        <button type="button" class="btn btn-default" (click)="deactivateUserModal.hide()">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="deactivateUser(deactivateUserModal.entity); deactivateUserModal.hide()"><i class="fa fa-upload fa-fw"></i> Confirmer la désactivation</button>
    </div>
</modal-dialog>