<div class="row">
    <div class="col-md-9">
        <div class="box box-default">
            <div class="box-header with-border">
                <i class="fa fa-users"></i>
                <h3 class="box-title">Utilisateurs</h3>
            </div>
            <div class="box-body table-responsive no-padding" *ngIf="!usersProgress">
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 80px;">Avatar</th>
                            <th style="width: 50px;">Id</th>
                            <th>Nom d'utilisateur</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th style="width: 280px;">Actions</th>
                        </tr>
                        <tr *ngFor="let user of users" class="user-entry">
                            <td>
                                <a [routerLink]="['/users', user.id]">
                                    <avatar [user]="user"></avatar>
                                </a>
                            </td>
                            <td>{{user.id}}</td>
                            <td><a [routerLink]="['/users', user.id]">{{user.username}}</a></td>
                            <td>{{user.firstname}}</td>
                            <td>{{user.lastname}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-danger" type="button" (click)="removeUserModal.show(user)">Supprimer</button>
                                    <a class="btn btn-sm btn-primary" type="button" [routerLink]="['/users/', user.id]">Modifier / Consulter le profil</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <loading-cube class="box-body" *ngIf="usersProgress"></loading-cube>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box box-default">
            <div class="box-header with-border">
                <i class="fa fa-user-plus"></i>
                <h3 class="box-title">Ajouter un utilisateur</h3>
            </div>
            <div class="box-body">
                <form #addUserForm="ngForm" (ngSubmit)="addUser()" [hidden]="userFormProgress">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <avatar [(user)]="newUser" allowUpload=1 class="identicons-big"></avatar>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" placeholder="Firstname" name="firstname" [(ngModel)]="newUser.firstname" required>
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" placeholder="Lastname" name="lastname" [(ngModel)]="newUser.lastname" required>
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="newUser.email" required>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <select class="form-control" placeholder="User role" name="role" [(ngModel)]="newUser.role" required>
                            <option value="ROLE_USER">Utilisateur</option>
                            <option value="ROLE_ADMIN">Administrateur</option>
                        </select>
                        <span class="fa fa-id-badge form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8"></div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!addUserForm.form.valid"><i class="fa fa-plus fa-fw"></i> Ajouter</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <loading-cube [hidden]="!userFormProgress"></loading-cube>
            </div>
        </div>
    </div>
</div>

<modal-dialog #removeUserModal color="danger">
    <div class="modal-dialog-header">Suppression d'un projet</div>
    <div class="modal-dialog-body" *ngIf="removeUserModal.entity">
        <i class="fa fa-exclamation-circle fa-fw"></i>
        Etes vous sûr de vouloir supprimer l'utilisateur <b>{{ removeUserModal.entity.firstname }} {{ removeUserModal.entity.lastname }}</b> ?.<br />
        Cette action est irreversible et aura pour effet de supprimer également
        toutes les données associées au compte <b>{{ removeUserModal.entity.username }}</b> (rapports d'activités, ...).
    </div>
    <div class="modal-dialog-footer" *ngIf="removeUserModal.entity">
        <button type="button" class="btn btn-default" (click)="removeUserModal.hide()">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser(removeUserModal.entity); removeUserModal.hide()"><i class="fa fa-upload fa-fw"></i> Confirmer la suppression</button>
    </div>
</modal-dialog>