<!-- Menu Toggle Button -->
<a dropdownToggle class="dropdown-toggle" data-toggle="dropdown">
  <!-- The user image in the navbar-->
  <avatar [user]="currentUser" class="identicons-mini user-image"></avatar>
  <!-- hidden-xs hides the username on small devices so only the image appears. -->
  <span class="hidden-xs">{{currentUser.getName()}}</span>
</a>
<ul *dropdownMenu class="dropdown-menu">
  <!-- The user image in the menu -->
  <li class="user-header">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"><avatar [user]="currentUser" class="identicons-big img-circle"></avatar></div>
      <div class="col-md-4"></div>
    </div>
    <p>
      {{currentUser.getName()}}
      <small></small>
    </p>
  </li>
  <!-- Menu Body -->
  <li class="user-body">
  </li>
  <!-- Menu Footer-->
  <li class="user-footer">
    <div class="pull-left">
      <a [routerLink]="['/portal', 'users', 'me']" class="btn btn-default btn-flat">Profil</a>
    </div>
    <div class="pull-right">
      <a (click)="logout()" class="btn btn-default btn-flat">Déconnexion</a>
    </div>
  </li>
</ul>
