<body class="hold-transition login-page">
    <div class="login-box" >
      <div class="login-logo">
        <a href="../../index.html">Slick<b>team</b></a>
      </div>

      <form (submit)="getNewPassword()">
            <div class="row">
                <div>
                    <b>Mot de passe perdu</b>
                </div>
            </div>
            <div class="form-group has-feedback">
                <input type="username" class="form-control" placeholder="Nom d'utilisateur" required name="usr" [(ngModel)]="username" #usr="ngModel">
                <span class="fa fa-user form-control-feedback"></span>
                <div *ngIf="usr.errors && usr.dirty" class="alert alert-danger">
                    <div [hidden]="!usr.errors.required">
                        Le nom d'utilisateur est requis
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-8"></div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" >Valider</button>
                </div>
            </div>
      </form>
    </div>
</body>