<body class="hold-transition login-page">
  <div class="login-box" >
    <div class="login-logo">
      <a href="../../index.html">Slick<b>team</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body" *ngIf="!progress">
      <p class="login-box-msg">Bienvenue {{firstname}} {{lastname}} !</p>

      <p>Pour terminer votre inscription, vous devez choisir un mot de passe.</p>

      <div [hidden]="error != 'token'" class="callout callout-danger">
        <p>Le token fourni est invalide.</p>
      </div>

      <form (submit)="register()" [hidden]="error == 'token'">

        <div [hidden]="error != 'fields'" class="callout callout-danger">
          <p>Tous les champs sont requis.</p>
        </div>

        <div [hidden]="error != 'password'" class="callout callout-danger">
          <p>Le mot de passe ne respecte pas les conditions.</p>
        </div>

        <div [hidden]="error != 'credentials'" class="callout callout-danger">
          <p>Les mots de passes de correspondent pas.</p>
        </div>

        <div [hidden]="!error || error == 'token' || error == 'credentials' || error == 'password' || error == 'fields' || error == 'username'" class="callout callout-danger">
          <h4>Erreur lors de la connexion.</h4>
          <p>Le token fourni est probablement expiré.</p>
        </div>

        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Mot de passe" required name="passwd" [(ngModel)]="password" #passwd="ngModel">
          <span class="fa fa-lock form-control-feedback"></span>
          <div *ngIf="passwd.errors && passwd.dirty"
               class="alert alert-danger">
              <div [hidden]="!passwd.errors.required">
                Le password est requis.
              </div>
          </div>
        </div>

        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Confirmation" required name="passwd_check" [(ngModel)]="password_check" #passwd_check="ngModel">
          <span class="fa fa-lock form-control-feedback"></span>
          <div *ngIf="passwd_check.errors && passwd_check.dirty"
               class="alert alert-danger">
              <div [hidden]="!passwd_check.errors.required">
                Le password est requis.
              </div>
          </div>
        </div>
        <small><i>
          Attention, le mot de passe doit respecter les conditions suivantes :
          <ul>
          <li>Minimum 9 caractères</li>
          <li>Maximum 30 caractères</li>
          <li>Aucun caractère accentué</li>
          </ul>
        </i></small>

        <div class="row">
          <div class="col-xs-8"></div>
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat" >Valider</button>
          </div>
        </div>
      </form>
    </div>
    <!-- /.login-box-body -->
    <loading-cube class="login-box-body" *ngIf="progress == 1"></loading-cube>
    <div class="login-box-body" *ngIf="progress == 2">
        <p class="login-box-msg">Bienvenue {{firstname}} {{lastname}} !</p>
        <div class="callout callout-success">
            <p>L'inscription s'est terminée avec succès.</p>
        </div>
        <div class="row">
        <div class="col-xs-6"></div>
            <div class="col-xs-6">
            <button type="submit" class="btn btn-primary btn-block btn-flat" [routerLink]="['/login']">Se connecter</button>
            </div>
        </div>
    </div>
  </div>
  <!-- /.login-box -->
</body>
