{
    "api": {
        "server": "http://www.web.site/",
        "uri": "api/"
    },
    "cache": {
        "timeout": 10000
    },
    "urls": {
        "webmail": "",
        "blog": "",
        "cloud": ""
    }
}