<div class="row">
    <div class="col-md-4">
        <div class="box box-default">
            <div class="box-header with-border">
                <i class="fa fa-users"></i>
                <h3 class="box-title">Liste des clients</h3>
                <button type="button" class="pull-right btn btn-sm btn-success" (click)="editClientModal.show()"><i class="fa fa-fw fa-plus"></i>&nbsp;Nouveau client</button>
            </div>
            <div class="box-body table-responsive no-padding" [hidden]="clientsProgress">
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <th>Client</th>
                            <th style="text-align: center; width: 110px"><i class="fa fa-gear"></i></th>
                        </tr>
                        <tr *ngFor="let client of clients" [class.selectedClient]="selectedClient == client">
                            <td (click)="selectClient(client)">{{client.id}}</td>
                            <td (click)="selectClient(client)">{{client.name}}</td>
                            <td class="text-right">
                                <button title="Supprimer" data-toggle="tooltip" type="button" class="btn btn-xs btn-danger"
                                    (click)="removeClientModal.show(client);"><i class="fa fa-fw fa-times"></i></button>
                                <button title="Modifier" data-toggle="tooltip" type="button" class="btn btn-xs btn-primary"
                                    (click)="editClientModal.show(client)"><i class="fa fa-fw fa-pencil"></i></button>
                                <button title="Sélectionner" data-toggle="tooltip" type="button" class="btn btn-xs btn-primary"
                                    (click)="selectClient(client)"><i class="fa fa-fw fa-arrow-circle-right"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-12" [hidden]="clients.length">
                    <p class="text-muted" style="text-align: center;">
                        <br /><i>Il n'y a aucun client enregistré. <a (click)="editClientModal.show()"><i class="fa fa-plus fa-fw"></i> Ajouter un client</a> ?</i>
                    </p>
                </div>
            </div>
            <loading-cube class="box-body" [hidden]="!clientsProgress"></loading-cube>
        </div>
    </div>
    <div class="col-md-8" *ngIf="selectedClient">
		<div class="box box-default">
			<div class="box-header with-border">
				<i class="fa fa-folder-open"></i>
				<h3 class="box-title">{{selectedClient.name}} - Projets</h3>
                <button type="button" class="pull-right btn btn-sm btn-success" (click)="newProjectModal.show()"><i class="fa fa-fw fa-plus"></i>&nbsp;Nouveau projet</button>
			</div>
			<div class="box-body" [hidden]="projectsProgress">
                <ng-container *ngFor="let project of clientProjects">
                    <div class="col-md-12" *ngIf='project.isActive()'>
                        <div class="well" style="padding: 10px; margin: 10px">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <label>{{project.name}}</label>
                                        <p>&nbsp;&nbsp;{{project.client.name}}</p>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <ng-container *ngFor="let user of projectUsers[project.id]">
                                        <a [routerLink]="['/portal', 'users', user.id]">
                                            <avatar [user]="user" class="pull-right" style="padding-right: 5px"></avatar>
                                        </a>
                                    </ng-container>
                                </div>
                                <div class="col-xs-1">
                                    <div class="btn-group-vertical pull-right">
                                        <button title="Ouvrir" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-arrow-right"></i></button>
                                        <button title="Archiver" data-toggle="tooltip" type="button" class="btn btn-xs btn-default"><i class="fa fa-archive"></i></button>
                                        <button title="Supprimer" data-toggle="tooltip" type="button" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <div class="col-md-12" [hidden]="getNbActive()">
                    <p class="text-muted">
                        <i>Ce client de possède aucun projet. <a (click)="newProjectModal.show()"><i class="fa fa-plus fa-fw"></i> Ajouter un projet</a> ?</i>
                    </p>
                </div>
			</div>
            <loading-cube class="box-body" [hidden]="!projectsProgress"></loading-cube>
		</div>
		<div class="box box-default">
			<div class="box-header with-border">
				<i class="fa fa-folder-open"></i>
				<h3 class="box-title">Projets Archivés</h3>
			</div>
            <div class="box-body table-responsive no-padding" [hidden]="projectsProgress">
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <th>Client</th>
                            <th>Nom du projet</th>
                            <th>Etat</th>
							<th></th>
                        </tr>
                        <ng-container *ngFor="let project of clientProjects">
                            <tr *ngIf="!project.isActive()">
                                <td>{{project.id}}</td>
                                <td>{{project.client.name}}</td>
                                <td>{{project.name}}</td>
                                <td><small class="label bg-orange">Inactif</small></td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-sm" type="button"><i class="fa fa-fw fa-external-link"></i> Ouvrir</button>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <div class="col-md-12" [hidden]="getNbInactive()">
                    <br />
                    <p class="text-muted" style="text-align: center;">
                        Il n'y a aucun projet inactif pour ce client.<br />
                        Pour archiver un projet, cliquez sur l'icone <button type="button" class="btn btn-xs btn-default"><i class="fa fa-archive"></i> Archiver</button> d'un projet.
                    </p>
                </div>
            </div>
            <loading-cube class="box-body" [hidden]="!projectsProgress"></loading-cube>
		</div>
	</div>
</div>

<modal-dialog #editClientModal color="default">
    <div class="modal-dialog-header" *ngIf="!editClientModal.entity.id">Création d'un nouveau client</div>
    <div class="modal-dialog-header" *ngIf="editClientModal.entity.id">Edition d'un client</div>
    <div class="modal-dialog-body">
        <form #editUserForm="ngForm">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Nom du client" name="name" [(ngModel)]="editClientModal.entity.name" required>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
        </form>
    </div>
    <div class="modal-dialog-footer">
        <button type="button" class="btn btn-default" (click)="editClientModal.hide()">Retour</button>
        <button *ngIf="!editClientModal.entity.id" type="button" class="btn btn-success"
            (click)="createClient(editClientModal.entity); editClientModal.hide()" [disabled]="!editUserForm.form.valid">
            <i class="fa fa-plus fa-fw"></i> Ajouter le client
        </button>
        <button *ngIf="editClientModal.entity.id" type="button" class="btn btn-success"
            (click)="editClient(editClientModal.entity); editClientModal.hide()" [disabled]="!editUserForm.form.valid">
            <i class="fa fa-save fa-fw"></i> Sauvegarder
        </button>
    </div>
</modal-dialog>

<modal-dialog #removeClientModal color="danger">
    <div class="modal-dialog-header">Suppression d'un client</div>
    <div class="modal-dialog-body" *ngIf="removeClientModal.entity">
        <i class="fa fa-exclamation-circle fa-fw"></i>
        Etes vous sûr de vouloir supprimer le client <b>{{removeClientModal.entity.name}}</b> ?.<br />
        Cette action est irreversible et aura pour effet de supprimer également tous les projets de <b>{{removeClientModal.entity.name}}</b>
        ainsi que leurs données associées (rapports d'activités, ...).
    </div>
    <div class="modal-dialog-footer" *ngIf="removeClientModal.entity">
        <button type="button" class="btn btn-default" (click)="removeClientModal.hide()">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="deleteClient(removeClientModal.entity); removeClientModal.hide()"><i class="fa fa-upload fa-fw"></i> Confirmer la suppression</button>
    </div>
</modal-dialog>

<modal-dialog #newProjectModal color="default">
    <div class="modal-dialog-header" *ngIf="selectedClient">Création d'un projet - {{selectedClient.name}}</div>
    <div class="modal-dialog-body">
        <form #newProjectForm="ngForm">
            <div class="form-group has-feedback">
                <label for="name">Nom</label>
                <input type="text" class="form-control" placeholder="Nom du projet" name="name" [(ngModel)]="newProjectModal.entity.name" required>
                <span class="fa fa-tag form-control-feedback"></span>
            </div>
        </form>
    </div>
    <div class="modal-dialog-footer">
        <button type="button" class="btn btn-default" (click)="newProjectModal.hide()">Retour</button>
        <button type="button" class="btn btn-success"
            (click)="addProject(newProjectModal.entity); newProjectModal.hide()" [disabled]="!newProjectForm.form.valid">
            <i class="fa fa-plus fa-fw"></i> Créer le projet
        </button>
    </div>
</modal-dialog>